<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta http-equiv="pragma" content="nocache">
        <meta charset="utf-8">
        <meta name="author" content="André Lucas Freitas">
        <meta name="description" content="For practising">
        <meta name="robots" content="all">
        <meta name="keywords" content="practise, exercise, HTML5, learning, IEMAC">
        <meta name="rating" content="mature">
    </head>
    <body>
       <h4>Exemplo de lista ordenada: </h4> 
       <ul type="square">
           <li>Eu sou um item de lista ordenada</li>
           <li>Eu também:
                <ul type="disk">
                    <li>Teste de lista</li>
                    <li>teste 2 de lista</li>
                </ul>
           </li>
           <li>Eu também sou</li>
           <li>Agora tem uma outra lista:
               <ol type="I">
                    <li>Uma lista dentro de lista</li>
                    <li>Outra também</li>
               </ol>
           </li>
           <li>Outro item de lista</li>
       </ul>
        
    </body>
</html>


